.container{
    position: fixed;
    left: 2rem;
    top: 2rem;
    width: fit-content;
    cursor: pointer;
    transition: var(--transition-hover-text);
}

.container:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .container{
        left: 1rem;
    }
}