.container{
    padding: 2rem 0 2rem var(--padding-horizontal);
    width: 50vw;
    margin-top: 4rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}



@media only screen and (max-width: 600px) {
    .container{
        padding: 2rem var(--padding-horizontal);
        width: 100%;
        margin-top: 0rem;
    }

  
  }