.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    gap: 0.5rem;
}


.input{
    outline: none;
    background-color:#fff;
    color: var(--primary-text-color);
    border: 1px  var(--primary-text-color) solid;
    font-family: 'Exo 2', sans-serif;
}
.button{
    height: 2rem;
    width: fit-content;
    padding: 0 0.5rem;
    background-color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    cursor: pointer;
}
.button:hover{
    opacity: 0.5;
}
