.container{
    padding: 2rem var(--padding-horizontal);
    position: relative;
    display: flex;
    justify-content: center;
}


.image{
    width: 100%;
}
.shadow{
    box-shadow: 0 0 4rem 0.1rem rgba(0,0,0,0.1);
}