@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color: white;
  background: black;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root{
  --primary-color: #ffffff;
  --transition-hover-text: opacity 0.2s ease;
  --primary-text-color: #4a4a4a;
  --padding-horizontal: 10vw;
  --background-color: #eeeeee;
}